<p-panel header="Check Raiting" [formGroup]="searchForm">
  <form (submit)="onSubmit()">
    <p-fluid class="card flex flex-wrap gap-4">
      <div class="flex-auto">
        <label for="search_for">Search for keywords</label>

        <input
          pInputText
          id="search_for"
          formControlName="keyword"
          autocomplete="off"
        />
        <small id="targetDomain">Example:News</small>
      </div>

      <div class="flex-auto">
        <label for="search_for">Target domain</label>

        <input pInputText id="domain" formControlName="targetDomain" />
        <small id="targetDomain">Example: www.bbc.co.uk</small>
      </div>
    </p-fluid>

    <div class="actions">
      <p-button
        pRipple
        type="submit"
        [disabled]="searchForm.invalid || loading"
      >
        {{ loading ? "Searching..." : "Check Rank" }}
      </p-button>
    </div>
  </form>

  @if(searchResult){
  <p-divider />
  <div *ngFor="let engineResults of searchResult.ranks">
    <h3>{{ engineResults.searchEngine }}</h3>

    <div class="card flex justify-center gap-2">
      Ranks:
      <p-badge
        *ngFor="let result of engineResults.ranks"
        [value]="result"
        severity="secondary"
      />
    </div>
  </div>

  }
</p-panel>
