<div class="setup-form" [formGroup]="searchForm">
  <h2>Check Ranking</h2>
  <form (submit)="onSubmit()">
    <div class="input-group mb-3">
      <label for="keyword" class="input-group-text">Keyword</label>
      <input id="keyword" formControlName="keyword" />
    </div>

    <div class="input-group mb-3">
      <label class="input-group-text" for="targetDomain">Website</label>
      <input
        id="targetDomain"
        formControlName="targetDomain"
        class="border border-gray-300 rounded-md px-4 py-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
      />
    </div>

    <button type="submit" [disabled]="searchForm.invalid || loading">
      {{ loading ? "Searching..." : "Check Rank" }}
    </button>
  </form>

  @if(searchResult){
  <div class="panel">
    <div *ngFor="let engineResults of searchResult.ranks">
      <h3>{{ engineResults.searchEngine }}</h3>
      Ranks
      <div *ngFor="let result of engineResults.ranks">
        <p>Rank: {{ result }}</p>
      </div>
    </div>
  </div>
  }
</div>
